{% extends 'index.html' %}
{% block title %}
    Reset Password - RoflanZdarova
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="common-subtitle">
                <h1 class="common-subtitle-text">Reset password
                </h1>
            </div>
            <form action="{% url 'password_reset' %}" class="form-login" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Reset password"
                       class="form-login-submit">
            </form>
        </div>
    </div>
{% endblock %}