{% extends 'index.html' %}
{% block title %}
    {{ user.get_username }} - RoflanZdarova
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="common-subtitle">
                <h1 class="common-subtitle-text">Profile {{ user.get_username }}
                    {% if user.get_is_staff == TRUE %}

                    {% else %}

                    {% endif %}
                </h1>
            </div>
        </div>
    </div>
{% endblock %}