{% extends 'index.html' %}
{% load static %}
{% block title %}
    {{ profile.username }} - RoflanZdarova
{% endblock %}

{% block content %}
    <div class="home">
        <div class="container">
            <div class="home-in">
                <div class="home-in-mid">
                    <div class="home-in-mid-title">
                        <h1 class="home-in-mid-title-text">Profile {{ profile.username }}
                            {% if profile.is_staff %}
                                <span>&#9874;</span>
                            {% else %}
                                <span>&#9733;</span>
                            {% endif %}
                        </h1>
                    </div>
                    <div class="home-in-mid-profile">
                        <div class="home-in-mid-profile-picture">
                            <a href="" class="home-in-mid-profile-picture-edit"><span>&#9998;</span> Edit image</a>
                            {% for user_detail in profile.userdetail_set.all %}
                                {% if user_detail.picture %}
                                    <img src="{{ user_detail.picture.url }}"
                                        alt="{{ profile.username }} image" class="home-in-mid-profile-picture-image">
                                {% else %}
                                    <img src="{% static 'users/img/ej3kzapo5tjma2lqhlwr.jpg' %}"
                                        alt="{{ profile.username }} image" class="home-in-mid-profile-picture-image">
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="home-in-mid-profile-item">
                            <a href="" class="home-in-mid-profile-item-edit"><span>&#9998;</span> Edit profile</a>
                            {% for user_detail in profile.userdetail_set.all %}
                                {% if user_detail %}
                                <div class="home-in-mid-profile-item-block">
                                    <h1 class="home-in-mid-profile-item-block-text">First name: {{ user_detail.first_name }}</h1>
                                </div>
                                <div class="home-in-mid-profile-item-block">
                                    <h1 class="home-in-mid-profile-item-block-text">Last name: {{ user_detail.last_name }}</h1>
                                </div>
                                <div class="home-in-mid-profile-item-block">
                                    <h1 class="home-in-mid-profile-item-block-text">Gender: {{ user_detail.gender }}</h1>
                                </div>
                                {% endif %}
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}