{% extends 'index.html' %}
{% block title %}
    RoflanZdarova - Forum
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="common-title">
                <h1 class="common-title-text">RoflanZdarova
                    - Welcome in Forum!
                </h1>
            </div>
            <div class="common-subtitle">
                <h1 class="common-subtitle-text">Themes
                </h1>
            </div>
            <div class="content-in">
                <nav class="content-in-homenav">
                    {% for i in theme %}
                        <a href="theme/{{ i.slug }}" class="content-in-homenav-items">
                            <ul class="content-in-homenav-items-link">
                                {{ i.name }}
                                <img src="{{ i.image }}" alt="">
                            </ul>
                        </a>
                    {% endfor %}
                </nav>
            </div>
        </div>
    </div>
{% endblock %}