{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'users/css/style.min.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'users/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'users/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'users/favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-in">
                <div class="header-in-logo">
                    <a href="{% url 'home' %}"><img src="{% static 'users/img/959b5e34c96431c7.webp' %}"
                         alt="Logo site"></a>
                </div>
                <div class="space"></div>
                <div class="header-in-nav">
                    <nav class="header-in-nav-navbar">
                        {% if user.is_authenticated %}
                            <ul class="header-in-nav-navbar-items">
                                <a href="{{ user.get_absolute_url }}" class="header-in-nav-navbar-items-link">
                                    Profile
                                </a>
                            </ul>
                            <ul class="header-in-nav-navbar-items">
                                <a onclick="popup_logout();" class="header-in-nav-navbar-items-link logout">
                                    Logout
                                </a>
                            </ul>
                        {% else %}
                            <ul class="header-in-nav-navbar-items">
                                <a href="{% url 'login' %}" class="header-in-nav-navbar-items-link">
                                    Login
                                </a>
                            </ul>
                            <ul class="header-in-nav-navbar-items">
                                <a href="{% url 'register' %}" class="header-in-nav-navbar-items-link">
                                    Registration
                                </a>
                            </ul>
                        {% endif %}

                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    
    {% endblock %}

    <!-- POPUP LOGOUT -->
    <div class="popup" id="popup-logout">
        <div class="popup-logout">
            <div class="popup-logout-in">
                <div class="popup-logout-in-title">
                    <h1 class="popup-logout-in-title-text">Do you really want to leave?</h1>
                </div>
                <div class="popup-logout-in-login">
                    <a href="{% url 'logout' %}" class="popup-logout-in-login-btn"
                        onclick="popup_exit();">Yes</a>
                    <a href="{% url 'home' %}" class="popup-logout-in-login-btn"
                        onclick="popup_exit();">No</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /POPUP LOGOUT -->

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="{% static 'users/js/script.js' %}"></script>
</body>
</html>