*, *:before, *:after{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
p{
  margin: 0 0 10px;
}
.container{
  max-width: 2000px;
  width: 100%;
  margin: 0 auto;
}
body{
  border: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  font-family: 'Rajdhani', sans-serif;
  background: #1e1e1e;
}
ul{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
.space{
  width: 10px;
}
::placeholder {
  text-align: center;
}
::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}
::-moz-placeholder {
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}
.container{
  width: 95%;
  margin: 0 auto;
}
/* DEFAULT END */

/* COMMON START */
.common{
  margin: 0 auto;
  &-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-input{
      padding: 0;
      width: 100%;
      max-width: 80%;
      min-width: 300px;
      height: 55px;
      background: #000;
      color: #fff;
      font-size: 40px;
      border: 3px #d2961e solid;
      text-align: center;
      font-weight: 300;
      font-family: 'Rajdhani', sans-serif;
      margin: 20px auto 0 auto;
      transition: background, border ease 1s;

      &:hover{
        background: #1e1e1e;
        border: #f8bc03 solid 3px;
      }
      &:active{
        background: #1e1e1e;
        border: #f8bc03 solid 3px;
      }
    }

    &-submit{
      padding: 0;
      cursor: pointer;
      width: 100%;
      max-width: 80%;
      min-width: 300px;
      margin-top: 30px;
      height: 55px;
      background: #000;
      color: #fff;
      font-size: 40px;
      border: 3px #d2961e solid;
      text-align: center;
      font-weight: 300;
      text-transform: uppercase;
      font-family: 'Rajdhani', sans-serif;
      transition: background, font-weight 0.5s ease;
      &:hover{
        font-weight: 700;
        background: #1e1e1e;
        border: #f8bc03 solid 3px;
      }
      &:active{
        background: #1e1e1e;
        border: #f8bc03 solid 3px;
      }
    }
  }
}
/* COMMON END */

/* HEADER START */
header{
  height: auto;
  position: relative;
  top:0;
  background: #000;
  width: 100%;
  border-bottom: #d2961e solid 10px;
  .header-in{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-left{
      &-logo{
        display: flex;
        &-container{
          display: flex;
          flex-direction: column;
          &-title{
            &-text{
              font-size: 25px;
              color: #fff;
              text-transform: uppercase;
            }
          }
          &-subtitle{
            &-text{
              color: #fff;
              font-size: 15px;
              text-transform: lowercase;
              text-align: right;
            }
          }
        }

        &-image{
          width: 100%;
          &-icon{
            width: 50px;
            height: auto;
          }
        }
      }
    }

    &-right{
      &-navbar{
        display: flex;
        @media(max-width: 450px){
          &{
            display: none;
          }
        }
        &-item{
          margin: 0 10px 0 0;
          &:last-child{
            margin: 0;
          }
          &-link{
            font-size: 25px;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 300;
            transition: font-weight 0.5s ease;
            &:hover{
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
/* HEADER END */

/* HOME START */
.home{

  &-in{

    &-top{
      margin: 20px 0 0 0;
      &-articles{
        max-width: 650px;
        margin: 0 auto;
        &-item{
          margin: 0 0 10px 0;
          height: 25px;
          background: #000;
          text-align: center;
          &-link{
            display: inline-block;
            height: 25px;
            width: 100%;
            font-size: 18px;
            color: #fff;
            font-weight: 300;
            transition: border, font-weight 0.5s ease;
            &:hover{
              font-weight: 700;
              border: 1px #f8bc03 solid;
            }
          }
        }
      }
    }
    &-mid{
      margin: 20px 0 15px 0;

      &-profile{
        display: flex;
        flex-wrap: wrap;
        &-picture{
          width: 15%;
          display: flex;
          flex-direction: column;
          &-edit{
            border: 3px #d2961e solid;
            border-top: none;
            background: #000;
            color: #f8bc03;
            text-align: center;
            font-size: 25px;
            font-weight: 300;
            transition: background, font-weight 0.5s ease;
            &:hover{
              color: #d2961e;
              background: #1e1e1e;
              font-weight: 700;
            }
          }
          &-image{
            border: 3px #d2961e solid;
            border-top: none;
            width: 100%;
          }
        }
        &-item{
          width: 85%;
          display: flex;
          flex-direction: column;
          &-edit{
            border: 3px #d2961e solid;
            border-top: none;
            border-left: none;
            background: #000;
            color: #f8bc03;
            text-align: center;
            font-size: 25px;
            font-weight: 300;
            transition: background, font-weight 0.5s ease;
            &:hover{
              color: #d2961e;
              background: #1e1e1e;
              font-weight: 700;
            }
          }
          &-block{
            border: 3px #d2961e solid;
            border-top: none;
            border-left: none;
            background: #000;
            &-text{
              text-align: center;
              font-weight: 500;
              color: #fff;
            }
          }
        }
      }
      &-create{
        display: flex;
        flex-wrap: wrap;
        &-item{
          border: 3px #d2961e solid;
          margin: 10px auto 0 auto;
          background: #000;
          text-align: center;
          width: 50%;
          &-theme{
            display: inline-block;
            height: 50px;
            width: 100%;
            font-size: 40px;
            color: #fff;
            font-weight: 300;
            text-transform: uppercase;
            transition: border,font-weight .5s ease;
            &:hover{
              font-weight: 700;
              background: #1e1e1e;
            }
          }
        }
      }
      &-title{
        border: 3px #d2961e solid;
        background: #000;
        &-text{
          color: #fff;
          font-size: 40px;
          text-transform: uppercase;
          text-align: center;
        }
      }

      &-themes{
        max-width: 800px;
        margin: 20px auto 0 auto;
        display: flex;
        flex-wrap: wrap;
        text-align: center;

        &-item{
          width: 33.3333%;
          margin: 30px auto 40px auto;
          @media (max-width: 700px){
            &{
              width: 50%;
            }
          }
          @media (max-width: 450px){
            &{
              width: 100%;
            }
          }
          &-btn{
            background: #000;
            border: 1px #d2961e solid;
            padding: 25px 50px;
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 300;
            transition: background, font-weight 0.5s ease;
            width: 100%;
            display: inherit;
            &:hover{
              font-weight: 700;
              background: #1e1e1e;
            }
          }
        }
      }
    }
  }
}