{% extends 'index.html' %}
{% block title %}
    RoflanZdarova - Forum
{% endblock %}

{% block content %}
    <div class="home">
        <div class="container">
            <div class="home-in">
                <div class="home-in-mid">
                    <div class="home-in-mid-title">
                        <h1 class="home-in-mid-title-text">Theme: {{ article.name }}</h1>
                    </div>
                    <div class="home-in-mid-title">
                        <h1 class="home-in-mid-title-text">Description: {{ article.description }}</h1>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="home-in-mid-title">
                                <a href="{% url 'article' %}" class="home-in-mid-title-text">Create article</a>
                        </div>
                    {% endif %}
                        <nav class="content-in-homenav">
                            {% for article in theme.article.all  %}
                                <a href="theme/{{ article.slug }}" class="content-in-homenav-items">
                                    <ul class="content-in-homenav-items-link">
                                        <span>Name: </span>{{ article.name }}
                                        <br>
                                        <span>Description: </span>{{ article.description }}
                                    </ul>
                                </a>
                            {% endfor %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}