{% extends 'index.html' %}
{% block title %}
    RoflanZdarova - Forum
{% endblock %}

{% block content %}
    <div class="home">
        <div class="container">
            <div class="home-in">
                <div class="home-in-mid">
                    <div class="home-in-mid-title">
                        <h1 class="home-in-mid-title-text">Theme: {{ theme.name }}</h1>
                    </div>
                    <div class="home-in-mid-title">
                        <h1 class="home-in-mid-title-text">Description: {{ theme.description }}</h1>
                    </div>
                    <div class="home-in-mid-title">
                        <a href="" class="home-in-mid-title-text">Create article</a>
                    </div>
                    <nav class="content-in-homenav">
                        {% for article in object_list %}
                            <a href="" class="content-in-homenav-items">
                                <ul class="content-in-homenav-items-link">
                                    <span>Name: </span>{{ article.name }}
                                    <br>
                                    <span>Description: </span>{{ article.description }}
                                </ul>
                            </a>
                        {% endfor %}
                    </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}