{% extends 'index.html' %}
{% block title %}
    Create Theme - RoflanZdarova
{% endblock %}

{% block content %}
    <div class="home">
        <div class="container">
            <div class="home-in">
                <div class="home-in-mid">
                    <div class="home-in-mid-title">
                        <h1 class="home-in-mid-title-text">Create theme</h1>
                    </div>
                    <div class="common">
                        <form action="{% url 'theme' %}" class="common-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="Add theme on the forum"
                                   class="common-form-submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}