{% extends 'index.html' %}
{% block title %}
    RoflanZdarova - Forum
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="common-subtitle">
                <h1 class="common-subtitle-text">{{ theme.name }}
                </h1>
            </div>
            <div class="content-profile">
                <div class="content-profile-container">
                    <div class="content-profile-column">
                        <h1 class="content-profile-column-text">{{ theme.description }}</h1>
                    </div>
                    <div class="content-in-theme">
                    {% if user.is_authenticated %}
                        <a href="{% url 'article' %}" class="content-in-theme-btn">
                            Create article
                        </a>
                    {% endif %}
                        <nav class="content-in-homenav">
                            {% for article in theme.article.all  %}
                                <a href="theme/{{ article.slug }}" class="content-in-homenav-items">
                                    <ul class="content-in-homenav-items-link">
                                        {{ article.name }}
                                    </ul>
                                </a>
                            {% endfor %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}